/*trang chu app note*/
#trangChu {position: relative; height: 700px; width: 500px; background: green;}
#tenApp { position: absolute; height: 100px; color: red; top: 10px; left: 230px; }
#nutMenu {position: absolute; height: 23px; background-color: rgb(255, 255, 0); margin-top: 5px; margin-left: 5px; }
#day {position: absolute; height: 23px; width: 23px; color: blue; top: 5px; left: 470px}
#createNoteButton {position: absolute; height: 30px; width: 30px; top: 580px; left: 460px; }
#notePage {position: absolute; height: 30px; width: 30px; top: 660px; left: 30px;}
#khungGiaoDien {position: absolute; height: 620px; width: 500px; background-color: palegreen; top: 33px; }
/*#nutDieuHuong {position: absolute; background-color: rebeccapurple; height: 50px; width: 500px ; top: 670px; }*/
/*trang viet note*/
#nutQuayLai {position: absolute; height: 23px; background-color: yellow; margin-top: 5px; margin-left: 5px}
#createNote {position: relative; height: 700px; width: 500px; background-color: green; }
#iconButton {border-radius: 5px; position: absolute; height: 23px; top: 5px; left: 455px; background: pink; }
#missonPage {position: absolute; height: 30px; width: 30px; top: 660px; left: 90px; }
#tieuDeNote { border-radius: 5px; position: absolute; top: 10px; left: 10px ; height: 4%; width: 94%; background-color: rgba(225, 228, 235, 0);}
#backgroundNote {position: absolute; height: 620px; width: 500px; }/*thieu mau sac vi muon them tinh nang chinh mau sac cho giao dien*/
#noiDungNote { text-align: left; border-radius: 5px; position: absolute; height: 90%; width: 94% ; top: 50px; left: 10px; background-color: rgba(241, 241, 241, 0); }
#noteSave {position: absolute; top: 6px; left: 405px; height: 23px; width: 30px; border-radius: 5px; background: rgb(89, 137, 182) ;  }
#
/*trang nhiem vu*/



/*thiet ke popup phan hoi nguoi dung*/



/*thiet ke tien ich cua app (thanh tim kiem note)*/






/*thiet ke thanh menu*/






